*.vo
*.pyc
*.glob
*.aux
*.meta
*.o
*.cmi
*.cmx
*.mli
*.ml
Makefile.coq.conf
Makefile.coq
Makefile.conf
.merlin
.coqdeps.d
coq/*
TacTok/coqhammer/*
TacTok/processed/
TacTok/runs/
output/
data/
models/
proof_steps/
*evaluation*
*.tar.gz
